<html>



<head>
	<meta charset="UTF-8">
<script>
function load(){
var data = null;

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === 4) {
	var obj=JSON.parse(this.responseText);
	var base64=obj.cuttedImgBase64;
	var base640=obj.cuttedOriginImgBase64;
	var myParent = document.getElementById("Banner"); 
	var myParent1 = document.getElementById("Banner1"); 
    var myImage = document.createElement("img");
	myImage.src = "data:image/png;base64,"+base64;
	myParent.appendChild(myImage);
	
	var myImage1 = document.createElement("img");
	myImage.src = "data:image/png;base64,"+base640;
		
		myParent1.appendChild(myImage1);
    console.log(this.responseText);
  }
});

xhr.open("GET", "http://localhost/getimg");
xhr.setRequestHeader("cache-control", "no-cache");
xhr.send(data);


}
</script>
</head>




<body>
<button onclick="load()">获取图片</button>
<div id="Banner">1</div>
<div id="Banner1">2</div>
</body>


</html>